<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="resources" name="Restlet Resources" schema="schema/resources.exsd"/>
   <extension-point id="components" name="Restlet Components" schema="schema/components.exsd"/>
   <extension-point id="applications" name="Restlet Applications" schema="schema/applications.exsd"/>
   <extension-point id="routers" name="Restlet Routers" schema="schema/routers.exsd"/>
   <extension-point id="filters" name="Restlet Filters" schema="schema/filters.exsd"/>

</plugin>
