<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="tutorial1Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="GreetingProduct">
      </product>
   </extension>
   <extension
         point="net.wolfgangwerner.restlet.registry.components">
      <component
            id="net.wolfgangwerner.tutorial1.component.1"
            name="Greeting Component">
         <server
               name="HTTP"
               port="80"
               protocol="http">
         </server>
         <server
               name="HTTP alternate"
               port="8080"
               protocol="http">
         </server>
         <resourceReference
               resourceId="Greeting Resource"
               urlTemplate="/greet">
         </resourceReference>
      </component>
   </extension>
   <extension
         point="net.wolfgangwerner.restlet.registry.resources">
      <resource
            class="net.wolfgangwerner.tutorial.restlet.GreetingResource"
            id="net.wolfgangwerner.tutorial1.Greeting.1"
            name="Greeting Resource">
      </resource>
      <resource
            class="net.wolfgangwerner.tutorial.restlet.GreetingListResource"
            id="net.wolfgangwerner.tutorial1.GreetingList.1"
            name="Greeting List Resource">
      </resource>
   </extension>
   <extension
         point="net.wolfgangwerner.restlet.registry.components">
      <component
            id="net.wolfgangwerner.tutorial1.component.1">
         <server
               name="HTTP"
               port="80"
               protocol="http">
         </server>
         <server
               name="HTTP alternate"
               port="8080"
               protocol="http">
         </server>
      </component>
   </extension>
   <extension
         point="net.wolfgangwerner.restlet.registry.resources">
      <resource
            class="net.wolfgangwerner.tutorial.restlet.GreetingResource"
            id="net.wolfgangwerner.tutorial1.Greeting.1"
            name="Greeting Resource">
      </resource>
   </extension>


</plugin>
