<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.wolfgangwerner.restlet.registry.components">
      <component
            id="c.1"
            name="Component 1">
         <server
               id="server.1"
               name="HTTP"
               port="8182"
               protocol="http">
         </server>
         <server
               id="server.2"
               name="Alternate HTTP"
               port="8080"
               protocol="HTTP">
         </server>
         <route
               targetId="r.1"
               urlTemplate="/resource1">
         </route>
         <route
               targetId="router.1"
               urlTemplate="/router1">
         </route>
         <route
               targetId="application.1"
               urlTemplate="/application1">
         </route>
         <route
               targetId="application.2"
               urlTemplate="/application2">
         </route>
         <route
               targetId="application.3"
               urlTemplate="/application3">
         </route>
    </component>
   </extension>
   <extension
         point="net.wolfgangwerner.restlet.registry.resources">
      <resource
            class="net.wolfgangwerner.restlet.registry.test.resources.Resource1"
            id="r.1"
            name="Resource 1">
      </resource>
      <resource
            class="net.wolfgangwerner.restlet.registry.test.resources.Resource2"
            id="r.2"
            name="Resource 2">
      </resource>
   </extension>
   <extension
         point="net.wolfgangwerner.restlet.registry.routers">
      <router
            id="router.1"
            name="Router 1">
         <route
               targetId="r.2"
               urlTemplate="/1/{param}">
         </route>
         <route
               targetId="r.2"
               urlTemplate="/2/{param}">
         </route>
      </router>
   </extension>
   <extension
         point="net.wolfgangwerner.restlet.registry.applications">
      <application
            id="application.1"
            name="Application 1"
            inboundRoot="router.1">
      </application>
      <application
            id="application.2"
            inboundRoot="r.1"
            name="Application 2">
      </application>
      <application
            class="net.wolfgangwerner.restlet.registry.test.applications.TestApplication"
            id="application.3"
            name="Application 3">
      </application>
   </extension>
</plugin>
